.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    color: var(--white);
    height: 5rem;
    width: auto;
    padding-left: 15%;
    padding-right: 15%;
    .pet-container {
        display: flex;
        align-items: center;
    }

    .pet-image {
        margin-right: 0.5rem;
    }

    .pet-data {
        display: flex;
        flex-direction: column;
    }

    .pet-name {
        font-weight: bold;
        margin: 0;
      }
      
      .pet-age {
        margin: 0; 
        color: gray; 
      }

    .logout {
        display: flex;
        justify-content: right;
        align-items: center;
        cursor: pointer;

    }



}