@import '../../../../assets/styles/variables';

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: $color-bg-secondary;
  border: 1px solid $color-border;
  border-radius: $border-radius-large;
  padding: $spacing-medium;
  height: 6rem;
  width: 100%;
  box-shadow: $box-shadow-large;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: translateY(-5px);
    box-shadow: $box-shadow-large;
  }

  .card-icon {
    position: absolute;
    top: 50%;
    right: $spacing-medium;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $spacing-small;


    .icon-button {
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
      font-size: $font-size-title;
      color: $color-accent;
      transition: color 0.3s ease;

      &:hover {
        color: darken($color-accent, 10%);
      }

      &:focus {
        outline: 2px solid $color-accent-hover;
        outline-offset: 2px;
      }
    }

    .material-icons-sharp {
      font-size: 1.5rem;
      color: $color-accent;
      transition: color 0.3s ease;

      &:hover {
        color: lighten($color-accent, 10%);
      }
    }

    .icon-subtitle {
      font-size: $font-size-small;
      color: $color-text-secondary;
      margin: 0;
      transition: color 0.3s ease;

      &:hover {
        color: $color-text-main;
      }
    }
  }

  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .card-title {
      font-size: $font-size-small;
      color: $color-text-secondary;
      margin: 0;
    }

    .card-value {
      font-size: $font-size-title;
      font-weight: bold;
      margin: 0;
      color: $color-accent
    }

    .card-subtitle {
      font-size: $font-size-small;
      color: $color-text-secondary;
      margin: 0;
    }
  }
}
