@import '../../../../assets/styles/variables';

.card-container {
  display: flex;
  flex-direction: column;
  background-color: $color-bg-secondary;
  border: 1px solid $color-border;
  border-radius: $border-radius-large;
  padding: $spacing-medium;
  box-shadow: $box-shadow-large;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: translateY(-5px);
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .card-title {
      font-size: $font-size-title;
      font-weight: bold;
      color: $color-text-main;
    }

    .card-icon {
      display: flex;
      align-items: center;

      .icon-button {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 1.5rem;
        color: $color-accent;

        &:hover {
          color: lighten($color-accent, 10%);
        }
      }
    }
  }

  .card-chart {
    flex-grow: 1;
    margin-top: $spacing-medium;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; /* Ocupa el espacio completo */
    overflow: hidden; /* Evita desbordamientos */
    position: relative;

    ngx-charts-heat-map {
      max-width: 100%; /* Asegura que el heatmap no exceda el ancho del contenedor */
      height: auto; /* Mantiene la proporción */
    }
  }

  .card-subtitle {
    margin-top: $spacing-small;
    font-size: $font-size-small;
    color: $color-text-secondary;
    text-align: center;
  }
}
