@import '../../../assets/styles/_variables.scss'; // Ajustar la ruta de importación


.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-bg-secondary;
  color: $color-text-main;
  height: 5rem;
  width: auto;
 padding: 0 $spacing-medium;
  .pet-container {
      display: flex;
      align-items: center;
      gap: $spacing-small
  }

  .pet-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-bg-main; /* Fondo para destacar el icono */
    border-radius: 50%; /* Hazlo circular */
    width: 3rem;
    height: 3rem;
    font-size: 2rem; /* Ajusta el tamaño del ícono */
    color: $color-accent; /* Color del ícono */
  }

  .pet-data {
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  .pet-name {
      font-size: $font-size-title;
      font-weight: bold;
      margin: 0;
      color: $color-text-main;
    }

    .pet-age {
      font-size: $font-size-small;
      color: $color-text-secondary;
      margin: 0;
    }

    .logout {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-color: transparent;
      border: none;
      font-size: 1.5rem;
      color: $color-text-main;
      padding: $spacing-small;
      transition: color 0.3s ease;

      &:hover {
        color: $color-accent-hover;
      }
    }
}
