<header>
    <div>
        <img src="assets/icons/gauge_life.png" alt="logo" class="logo">
    </div>
    <div>
        <span class="material-icons-sharp" (click)="logOut()">
            logout
        </span>
    </div>
</header>
<body>
    <img src=" assets/images/chaplin.jpeg" alt="logo" >
    <h1 class="pet-name">Chaplin</h1>
    <div class="analytics-container">
        <div class="times-pooping">
            <h2>Times pooping</h2>
            <div class="period-pooping">
                <p>Last Month</p> <p>5</p>
            </div>
            <div><p>Last Month</p><p>5</p></div>
        </div>
    </div>
</body>