@import '../../../assets/styles/variables';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: $spacing-large;
}

.poops-times-container {
    display: flex;
    align-items: center;
    height: auto;
    gap: $spacing-large;
    width: 100%;
    margin-top: 2rem;
}



